.url-titles-index .form .form-group{
    width: 100%;
    display: inline-block;
}
.url-titles-index .form .field-urltitles-url,
.url-titles-index .form .field-urltitles-title{
    width: 49%;
    display: inline-block;
}
.url-titles-index .form table tr td .form-group{
    width: 98%;
}
.url-titles-index .form table{
    width: 98%;
}